.container-bike{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px;
}

.show-bike{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.cart-bike{
    background-color: lightskyblue;
    margin-left: 10px;
    height: 800px;
    border-radius: 13px;
}
@media screen and (max-width: 700px){
    .show-bike{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
    }
    .container-bike{
        display: flex;
        flex-direction: column; 

    }
}