.for-bike{
    /* background-color: antiquewhite; */
    border: 5px solid lightblue;
    border-radius: 10px;
    position: relative;
}

.bike-button button{
    width: 100%;
    border-radius: 0px 0px 6px 6px;
    color: white;
    background-color: black;
}

.bike-button button:hover{
    color: black;
    background-color: white;
}

.bike-info{
    padding: 10px;
    margin-bottom: 40px;
}

.bike-info img{
    width: 100%;
}

.button-element{
    display: flex;
    justify-content: center; 
    align-items: center;
} 

.button-addToCart{
    margin-right: 10px;
}

.bike-button{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}